extends layout

block content
  h1= title
  - var results = [{"vegetableName": "Broccoli", "vegetableCost": 4, "vegetableColour": "Green"}, {"vegetableName": "Cauliflower", "vegetableCost": 5, "vegetableColour": "White"}, {"vegetableName": "Potatoes", "vegetableCost": 6, "vegetableColour": "Brown"}]
    div(class = 'container-fluid')
      div(class = 'row')
        each item,index in results 
          div(class="col-sm-2") vegetableName : #{item["vegetableName"]} <br> vegetableCost : #{item["vegetableCost"]} <br> vegetableColour: #{item["vegetableColour"]}
          